<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="/static/xadmin/css/font.css">
    <link rel="stylesheet" href="/static/xadmin/css/xadmin.css">
    <link rel="stylesheet" href="/static/xadmin/css/login.css">
    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/xadmin/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .login .message {
            margin: 10px 0 0 -58px;
            padding: 18px 10px 18px 60px;
            background: #1e9fff;
            position: relative;
            color: #fff;
            font-size: 16px;
        }
    </style>
</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">登录</div>
    <div id="darkbannerwrap"></div>
    <form method="post" class="layui-form">
        <input name="number" placeholder="账号" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr15">
        <a href="/register"><input value="没有账号，前往注册" style="width:100%;background-color: #1e9fff" type="button"></a>
    </form>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(login)', function (data) {
                login(data.field);
                return false;
            });
        });
    });

    function login(loginData) {
        // 用户登录
        $.post('/login', loginData, function (res) {
            if (res.success) {
                window.location.href = '/';
            } else {
                layer.alert(res.message);
            }
        });
    }
</script>
</body>
</html>